<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Redireciona a raiz de /site/ para o index.php da public
    RewriteRule ^$ public/index.php [L]
    
    # Redireciona todo o resto para dentro da pasta public/
    RewriteRule ^((?!public/).*)$ public/$1 [L,NC]
</IfModule>

# Impede a listagem do diretório por segurança
Options -Indexes
